<div class="copyright">
    <p> Copyright &copy; 2024 Advait </p>
</div>
<div class="socials grid-flow">
    <ul>
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook fa-xl"></i></a></li>
        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-xl"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter fa-xl"></i></a></li>
    </ul>
    <ul>
        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-xl"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-xl"></i></a></li>
        <li><a href="https://www.github.com/"><i class="fab fa-github fa-xl"></i></a></li>
    </ul>
</div>
<div class="contact">
    <p> Contact us: </p>
    <a>advait@gmail.com</a>
</div>
<div class="team grid-flow">
    <p> Our Team </p>
    <ul>
        <li><a href="https://www.linkedin.com/in/jainsamay087">Samay</a></li>
        <li><a href="https://www.linkedin.com/in/dhruv-samdani-9a2352293?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Dhruv</a></li>
        <li><a href="https://www.linkedin.com/in/srinivaas-banothu-b32598292?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Srinivas</a></li>
        <li><a href="https://www.linkedin.com/in/varshitha-chereddy-3540632b6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Varshitha</a></li>
    </ul>
</div>
