<!DOCTYPE html>
<html lang="en">
<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/404.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <script src="/scripts/nav.js"></script>
</head>
<body>

    <main>
        <h1>404</h1>
        <h2>page not found</h2>
        <p>You are trying to access a page which doesn't exist</p>
    </main>

</body>
</html>